<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sommelier">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--Для застосування картинок фоном головного екрану-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">

        </activity>

        <activity
            android:name=".activity.DetailsActivity"
            android:theme="@style/DetailTheme">
        </activity>

        <activity android:name=".activity.GalleryDetailPagerActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:theme="@style/DetailTheme"/>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LicensesTheme"/>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LicensesTheme"/>

    </application>

</manifest>